root = true

[*]
; Disabled as a workaround for Sublime Text bug (Sublime scrolls one line up on save if this enabled)
;indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sh,markdown,md}]
indent_size = 4
