<div id="flash-messages">
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_type_to_bs_class(type) %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="<%= t('commons.close') %>">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
  <% end %>
</div>
