<%= render partial: 'form', locals: {
  reconciliation: @reconciliation,
  submit_url: reconciliations_path,
  method: :post,
  remote: false,
  form_caption: 'New reconciliation',
  submit_caption: 'Reconcile',
  edit: false,
  cancel: false
} %>

<% if Reconciliation.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Recent reconciliations</h3></div>
    <table class="table table-hover clickable-rows">
      <% @reconciliations.each do |rec| %>
        <%= rec.row %>
      <% end %>
    </table>
  </div>
<% end %>
