/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require margins
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  font-size: 20px;
  margin: 2em 0 1em 0;
}

h2:first-of-type {
  margin-top: 0;
}

.form .form-group:last-child {
  margin-bottom: 0;
}

.panel .panel-heading {
  padding: 10px;
}

.panel .panel-footer {
  background-color: transparent;
  padding: 10px;
}

.table-bordered.no-grid th:not(:last-child),
.table-bordered.no-grid td:not(:last-child) {
  border-right-color: transparent;
}

.text-muted {
  color: #999;
}

.panel-heading .close {
  font-size: 17px;
}

/*
    layouts/popup
*/

.popup-container {
  margin-top: 50px;
}

/*
    Common elements
*/

.emptyness {
  color: #777;
  margin: 15px 0;
}

.table-row-actions {
  display: inline-block;
  float: right;
}

.table-info {
  margin: 15px 0;
}

.highlight-negative {
  color: #cc3333;
}

.highlight-positive {
  color: #00cc33;
}

.submit-button {
  min-width:120px;
}

.action-icon {
  color: #ddd;
}

/*
    budget/show
*/

.pagination-bar {
  padding: 10px 0 30px 0;
}

.pagination-month-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

table.budget-table tr > th,
table.budget-table tr > td {
  padding: 0;
}

.table-head,
table.budget-table tr > .table-head {
  padding: 10px 12px;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: middle;
}

.table-head > a {
  color: #555;
}

.budget-table .form-control:not(:hover):not(:focus),
.budget-table .form-control[disabled], .form-control[readonly] {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

.budget-table .form-control {
  border-radius: 0;
  height: 36px;
}

.budget-table .period-available-to-budget {
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 50px;
  border-color: transparent;
  padding: 12px;
}

.budget-table .budget-table-category:hover,
.ops-table .operation-row:hover {
  background-color: #f8f8f8;
}

.budget-table .total-value input {
  font-weight: bold;
  font-weight: 500;
}

.clickable,
.clickable-rows {
  cursor: pointer;
}

.hide-overlapping td,
.hide-overlapping th {
  overflow-x: hidden;
  white-space: nowrap;
}

.budget-table .budget-spent,
.budget-table .period-total-expense {
  cursor: pointer;
}

.table-top > .table-head {
  border-top-color: transparent;
}

.table-top > .table-head:not(:last-child) {
  border-right-color: transparent;
}

/*
    Transaction kinds
*/

.transaction-income {
  color: #00bb00;
}

/*
    Transaction form
*/

.direction-inflow {
  color: #00bb00;
}

.direction-outflow {
  color: #bb0000;
}

/*
    Icons
*/

.history-icon {
  padding-right: 15px;
}

/*
    operations/show
*/

.reset-filter {
  float: right;
}

/*
    partials/budget_tabs
*/

.tab-info {
  margin: 0;
  padding: 10px 12px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.tab-info,
.tab-info a {
  color: #999;
}

/*
    partials/pagination
*/

.btn-selected {
  background-color: $gray;
  color: white;
  border-color: $gray-light;
}
