/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

h2 {
  font-size: 20px;
  margin: 2em 0 1em 0;
}

h2:first-of-type {
  margin-top: 0;
}

table.table.table-bordered.no-grid td {
  border-left-width: 0;
  border-right-width: 0;
}

/*
    Common elements
*/

.emptyness {
  color: #777;
  margin: 15px 0;
}

.table-row-actions {
  display: inline-block;
  float: right;
}

.table-info {
  margin: 15px 0;
}

.negative {
  color: #cc3333;
}

.positive {
  color: #00cc33;
}

/*
    Budget#show
*/

.budget-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

table.budget-table tr > th,
table.budget-table tr > td {
  padding: 10px 12px;
}

table.budget-table tr > td.input-cell {
  padding: 0;
}

.budget-table .form-control:not(:hover):not(:focus),
.budget-table .form-control[disabled], .form-control[readonly] {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

.budget-table .form-control {
  border-radius: 0;
  height: 40px;
}

.budget-table .available-to-budget-cell {
  font-size: 140%;
}

/*
    Currency color labels
*/

.label.label-currency { background-color: #666666; }
.label.label-currency.label-usd { background-color: #339933; }
.label.label-currency.label-eur { background-color: #3366cc; }
.label.label-currency.label-rub { background-color: #cc3366; }
